@media screen and (min-width: 865px) {
  .movies {
    margin: 70px 70px 10px;
  }
}

@media screen and (max-width: 865px) {
  .movies {
    margin: 80px 30px 10px;
  }
}

@media screen and (max-width: 320px) {
  .movies {
    margin: 79px 10px 10px;
  }
} 