.element {
  margin: 0 auto 70px;
  max-width: 396px;
  height: 100vh;
}

.element__title {
  font-size: 24px;
  line-height: 29px;
}

.element-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.element-form__fieldset {
  border: none;
  padding: 0;
  margin: 0 0 24px;
}

.element-form__subtitle {
  color: #A0A0A0;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  margin: 0 0 4px;
}

.element-form__input {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  padding: 0 0 10px;
  width: 100%;
}

.element-form__input:focus {
  outline: none;
  border-bottom: 1px solid #3456F3;
}

.element-form__title {
  font-weight: 400;
  color: #A0A0A0;
}

.element-form__link {
  text-decoration: none;
}

.element-form__input_error {
  border-bottom: 1px solid #FF3055;
  color: #FF3055;
}

.element-form__span {
  opacity: 0;
}

.element-form__span_error {
  color: #FF3055;
  font-size: 10px;
  line-height: 12px;
  opacity: 1;
}

.element-form__button-submit {
  width: 100%;
  height: 45px;
  border: none;
  background-color: #3456F3;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
}

.element-form__button-submit:hover {
  opacity: .8;
}

.element-form__button-submit_error {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.element-form__title {
  margin: 0;
  text-align: center;
}



@media screen and (min-width: 465px) {
  .element {
    margin: 0 auto 70px;
  }

  .element__title {
    text-align: start;
    margin: 0 auto 41px;
  }

  .element-form__buttons {
    margin: auto 0 70px;
  }

  .element-form__button-submit {
    font-size: 14px;
    line-height: 17px;
  }

  .element-form__title {
    font-size: 14px;
    line-height: 17px;
  }

}

@media screen and (max-width: 464px) {
  .element {
    margin: 11px 30px 70px;
  }

  .element__title {
    text-align: center;
    margin: 0 auto 81px;
  }

  .element-form__buttons {
    margin: auto 0 26px;
  }

  .element-form__title {
    font-size: 12px;
    line-height: 14px;
  }

  .element-form__button-submit {
    font-size: 12px;
    line-height: 14px;
  }
}