.portfolio {
  color: #000;
}

.link {
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
}

.link:hover {
  opacity: .8;
}

.portfolio-list {
  padding: 0;
  width: 100%;
  font-size: 18px;
  font-weight: 400;line-height: 20px;
  color: #A0A0A0;
}

.portfolio-list__item {
  list-style-type: none;
  width: 100%;
  margin-bottom: 21px;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 18px;
}

.portfolio-link__subtitle {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio-link {
  color: #000;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.portfolio-link__logo {
  margin-top: 18px;
  margin-right: 6px;
}

@media screen and (min-width: 769px) {
  .portfolio {
    padding: 0 70px 125px;
    
  }

  .portfolio-list {
    margin: 0 0 50px;
  }

}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 19px 50px 84px;
  }

  .portfolio-list {
    margin: 0 0 48px;
  }
  
}

@media screen and (max-width: 320px) {

}