.promo {
  background-color: #073042;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.promo-content__title {
  margin: 0 0 36px;
  font-size: 50px;
  font-weight: 400;
  max-width: 640px;
  line-height: 58px;
}

.promo-content__subtitle {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  max-width: 310px;
}

.promo__button {
  padding: 10px 19px;
  font-weight: 500;
  font-size: 12px;
  border: 1px solid #FFFFFF;
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
  background: transparent;
  color: #fff;
}

@media screen and (min-width: 769px) {
  .promo {
    padding: 75px 70px;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 140px 70px;
    padding: 140px 70px 76px;
    height: 634px;
  }

  .promo-content__title {
    font-size: 40px;
    text-align: center;
    margin-top: 49px;
    margin-bottom: 23px;
    line-height: 50px;
  }

  .promo-content__subtitle {
    text-align: center;
    max-width: 260px;
  }

  .promo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .promo__image {
    order: -1;
  }

  .promo__button {
    margin: auto auto 0;
  }
}