.section__title {
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.4px;
  border-bottom: 1px solid #000;
}

.link {
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
}

.link:hover {
  opacity: .8;
}

.aboutme {
  color: #000;
}

.aboutme__conteiner {
  display: grid;
  grid-template-rows: 1fr 46px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 66px;
}

.aboutme__content {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  height: 75%;
}

.aboutme__image {
  grid-column: 3/4;
  grid-row: 1/3;
  justify-self: end;
}
.aboutme__title {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0;
}

.aboutme__subtitle {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.aboutme__text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  max-width: 600px;
  margin: 0;
}

.aboutme-link {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  align-self: end;
}

@media screen and (min-width: 769px) {
  .section__title {
    font-size: 21px;
    padding-bottom: 23px;
  }

  .aboutme {
    padding: 112px 70px 101px;
    
  }

}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: 22px;
  }
  
}

@media screen and (max-width: 320px) {
  .section__title {
    font-size: 18px;
  }
}